<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="CashmereDeposit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="DepositorDatabase"
		 connectionString="Data Source=.\;Initial Catalog=DepositorProduction;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<add key="Culture" value="en-GB"/>
		<add key="UICulture" value="en-GB"/>
	</appSettings>
	<applicationSettings>
		<CashmereDeposit.Properties.Settings>
			<setting name="GUI_SHOW_MOUSE_CURSOR" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="GUI_ALWAYS_ON_TOP" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="OWIN_BASE_ADDRESS" serializeAs="String">
				<value>http://localhost:9000/</value>
			</setting>
		</CashmereDeposit.Properties.Settings>
	</applicationSettings>
</configuration>